.container {
  max-width: 420px;
  margin: 60px auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  margin-bottom: 1rem;
  color: gray;
}

.passwordContainer {
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 35px;
}

.rememberForgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.forgot {
  color: #1976d2;
  cursor: pointer;
}
